<header>
    <img  
    src="assets/img/marconcilio.jpg"
    alt="Marconcilio Souza - Foto de Perfil"
    width="130px"
    height="170px"
    loading="eager"
    />
    <h1>Marconcilio Souza</h1>
</header>
<aside>
    <div class="container">
        <p>Full-Stack em Angular | TypeScript | Python | .Net | SQL </p>
        <p>João Pessoa, Paraiba, Brasil</p>
        <p>Trabalho com uma stack robusta que inclui Python (Flask), C# (.NET), TypeScript, Angular 2+, SQL Server, 
            MySQL e PostgreSQL. Além disso, utilizo ferramentas como Redis e ElasticSearch para otimização de 
            desempenho e monitoramento.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download Cv
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/marconcilio-das-virgens-de-souza-a6b8a6b5" target="_blank" class="btn btn-secundary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>
        <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5587981475661&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20job!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (87) 9 8147-5661</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:marconcilio@hotmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>marconcilio&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
    </div>
</aside>